@model Ats.Models.Account.GroupViewModel
@using Lpnet.WebApp.Resources;
@{
  ViewBag.Title = @Resource.ViewBag_Title_GroupRole_Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    SelectList organizationTypes = ViewBag.RoleGroupType;
}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Sidebar_configurations_roleGroups</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "User")">@Resource.Sidebar_configurations_user</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("RoleGroup", "User")">@Resource.Sidebar_configurations_roleGroups</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("EditGroup", "User")">@Resource.Common_label_edit</a></li>
                        @*<li class="breadcrumb-item"><a href="javascript: void(0);">@Resource.Sidebar_title_configurations</a></li>*@  
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessage</p>
                        @using (Html.BeginForm("EditGroup", "User", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label>@Resource.Common_label_name</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.Name, new { placeholder = "", @class = "form-control", id = "creation-name", @readOnly = true })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>@Resource.Common_label_description</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.Description, new { placeholder = "", @class = "form-control", id = "creation-name" })
                                    </div>
                                </div>
                            </div>

                            @if (Model != null)
                            {
                                <label>@Resource.Common_label_roles</label>
                                <div class="card">
                                    <div class="row">
                                        @foreach (var role in Model.ListRoles)
                                        {
                                            <div class="col-md-4">
                                                <div>
                                                    @role.Text
                                                    <input type="checkbox" name="SelectedRoles" checked="@role.Selected" value="@role.Value">
                                                    <span class="checkmark"></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }

                            <div class="form-group mt-3">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                        @Resource.Common_label_save
                                    </button>
                                    <a href="@Url.Action("RoleGroup", "User",  new { pageIndex = 0 })" class="btn btn-secondary waves-effect">
                                        @Resource.Common_label_cancel
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

