@model Ats.Models.Organization.OrganizationViewModel;
@using Lpnet.WebApp.Resources;
@using Ats.Commons.Utilities;
@{
   ViewBag.Title = @Resource.ViewBag_Title_Organization_Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    SelectList organizationTypes = ViewBag.OrganizationType;
    SelectList warehouseTypes = ViewBag.WarehouseType;
}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Sidebar_configurations_organization</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li> 
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Organization")">@Resource.Sidebar_configurations_organization</a></li> 
                        <li class="breadcrumb-item active">@Resource.Common_label_edit</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessage</p>
                        @using (Html.BeginForm("Edit", "Organization", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <label>@Resource.Common_label_name</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Enter a name", @class = "form-control", id = "creation-name", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Resource.Common_label_type</label>
                                <div>
                                    @Html.DropDownListFor(m => m.OrganizationType, organizationTypes, new { @class = "custom-select", id = "creation-selection" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "custom-control-input", id = "edit-active", @checked = "checked" })
                                    <label class="custom-control-label" for="edit-active">@Resource.Common_label_active</label>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                        @Resource.Common_label_save
                                    </button>
                                    <a href="@Url.Action("Index", "Organization",  new { pageIndex = 0 })" class="btn btn-secondary waves-effect">
                                        @Resource.Common_label_cancel
                                    </a>
                                    <button class="btn btn-success float-right waves-light" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#createWarehouseModal">
                                        <i class="mdi mdi-plus"></i> @Resource.Common_label_addWarehouse
                                    </button>
                                </div>
                            </div>
                            @if (Model != null)
                            {
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>@Resource.Common_label_name</th>
                                            <th>@Resource.Common_label_shortName</th>
                                            <th>@Resource.Common_label_type</th>
                                            <th>@Resource.Common_label_active</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @{
                                        if (Model.Warehouses != null)
                                        {
                                            <tbody>
                                                @foreach (var item in Model.Warehouses)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.ShortName</td>
                                                        <td>@item.WarehouseType.ToName()</td>
                                                        <td>
                                                            @if (item.IsActive)
                                                            {
                                                                <span class="badge badge-info">@item.IsActive</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-danger">@item.IsActive</span>
                                                            }
                                                        </td>
                                                        <td style="text-align:center;padding-left:0px;padding-right:0px">
                                                            <a href='@Url.Action("Detail", "Warehouse", new { id = item.Id })' class="btn btn-info btn-sm">
                                                                <i class="mdi mdi-lead-pencil"></i>
                                                            </a>
                                                            <a href='@Url.Action("DeleteWarehouseOrg", "Organization", new { id = item.Id, orgId = Model.Id })'
                                                               class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this item?(Bạn có muốn xóa?)');">
                                                                <i class="mdi mdi-delete"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }
                                    }
                                </table>
                            }
                        }
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
        <!-- create warehouse modal -->
        <div id="createWarehouseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("CreateWarehouseOrg", "Organization", new { @class = "custom-validation" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="createNewModalLabel">@Resource.Common_label_create</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="form-group">
                                    <label>@Resource.Common_label_name</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.Warehouse.Name, new { placeholder = "", @class = "form-control", id = "creation-name", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Resource.Common_label_shortName</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.Warehouse.ShortName, new { placeholder = "", @class = "form-control", id = "creation-name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Resource.Common_label_type</label>
                                    <div>
                                        @Html.DropDownListFor(m => m.Warehouse.WarehouseType, warehouseTypes, new { @class = "custom-select", id = "creation-selection", required = "required" })
                                    </div>
                                </div>
                                <input type="hidden" name="warehouse.organizationId" value="@Model.Id" />
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(m => m.Warehouse.IsActive, new { @class = "custom-control-input", id = "edit-active", @checked = "checked" })
                                    <label class="custom-control-label" for="edit-active">@Resource.Common_label_active</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">@Resource.Common_label_save</button>
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@Resource.Common_label_close</button>
                        </div>
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

@section scripts{
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

    <script src="~/assets/js/pages/form-validation.init.js"></script>
}
