@model Ats.Models.LoyaltyTier.LoyaltyTierSearchViewModel;
@using Lpnet.WebApp.Resources
@using (Html.BeginForm("Edit", "LoyaltyTier", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LoyaltyTier.Id)
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="createNewModalLabel">@Resource.Common_label_edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div>

            <div class="form-group">
                <label>@Resource.Common_label_name</label>
                <div>
                    @Html.TextBoxFor(m => m.LoyaltyTier.TierName, new { placeholder = " ", @class = "form-control", id = "edit-name", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label>@Resource.Common_label_tierLevel</label>
                <div>
                    @Html.TextBoxFor(m => m.LoyaltyTier.TierLevel, new { placeholder = " ", @class = "form-control", id = "edit-name", required = "required" })
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>@Resource.Common_label_upgradePoint</label>
                            @Html.TextBoxFor(m => m.LoyaltyTier.UpgradePoint, new { placeholder = " ", @class = "form-control", id = "edit-name", required = "required" })
                        </div>
                        <div class="col-lg-6">
                            <label>@Resource.Common_label_downgradePoint</label>
                            @Html.TextBoxFor(m => m.LoyaltyTier.DowngradePoint, new { placeholder = " t", @class = "form-control", id = "edit-name", required = "required" })
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>@Resource.Common_label_pointMin</label>
                            @Html.TextBoxFor(m => m.LoyaltyTier.PointMin, new { placeholder = " ", @class = "form-control", id = "edit-name", required = "required" })
                        </div>
                        <div class="col-lg-6">
                            <label>@Resource.Common_label_pointMax</label>
                            @Html.TextBoxFor(m => m.LoyaltyTier.PointMax, new { placeholder = " ", @class = "form-control", id = "edit-name", required = "required" })
                        </div>
                    </div>
                </div>
            </div>            
            <div class="form-group">
                @Html.CheckBoxFor(m => m.LoyaltyTier.Active, new { @class = "form-group", id = "edit-active" })
                <label for="edit-active"> @Resource.Common_label_active</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect waves-light">@Resource.Common_label_save</button>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@Resource.Common_label_close</button>
    </div>
}