@model Ats.Models.Member.MemberGroupSearchViewModel;
@using Lpnet.WebApp.Resources
@{
    ViewBag.Title = @Resource.ViewBag_Title_MemberGroup_Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Sidebar_configurations_memberGroup</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Member")">@Resource.Sidebar_title_member</a></li>
                        <li class="breadcrumb-item active">@Resource.Sidebar_configurations_memberGroup</li>
                    </ol>
                </div>
            </div> 
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class=" text-center float-right">
                            <button class="btn btn-outline-info text-dart float-right " type="button">
                                <a href="@Url.Action("Edit", "MemberGroup")" class="text-dark"><i class="mdi mdi-plus"></i>@Resource.Common_label_create @Resource.Sidebar_configurations_memberGroup</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessage</p>
                        @using (Html.BeginForm("Search", "MemberGroup", new { role = "form" }, FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Keyword, new { placeholder = "Please enter the member Group name", @class = "form-control", id = "occupation-search-input" })
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
                                                <a class="text-white"><i class="mdi mdi-magnify"></i>Search</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <div class="float-right d-none d-md-block">
                                        <div class=" text-center">
                                            <button class="btn btn-outline-info text-dark" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#createNewModal">
                                                <a href="@Url.Action("Edit", "MemberGroup")" class="text-dark"><i class="mdi mdi-plus"></i>@Resource.Common_label_create @Resource.Sidebar_configurations_memberGroup</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        }

                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Resource.Common_label_memberGroup<a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "membergroupname", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_conditional<a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "conditional", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_totalmembers<a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "totalmembers", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            @*<i class="fa fa-fw fa-sort"></i>*@
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_active <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "isactive", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MemberGroupViewModels)
                                {
                                <tr>
                                    <td class="text-left">@item.MemberGroupName</td>
                                    <td class="text-left">
                                        @if (@item.Conditional)
                                        {
                                            <span class="badge badge-info">@Resource.Common_label_conditionalTag</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">@Resource.Common_label_unConditionalTag</span>
                                        }
                                    </td>
                                    <td class="text-left">@item.TotalMembers</td>
                                    <td class="text-left">
                                        @if (item.Active)
                                        {
                                            <span class="badge badge-info">@item.Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">@item.Active</span>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Edit", "MemberGroup", new { id = item.Id })" class="btn btn-outline-warning "><i class="mdi mdi-folder-open-outline"></i></a>
                                        <a href="@Url.Action("Delete", "MemberGroup", new { id = item.Id })" onclick="return confirm('Are you sure you wish to delete this item?');" class="btn btn-outline-danger "><i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <p>
                            <partial name="~/Views/Shared/_pager.cshtml" for="@Model.Pager">
                        </p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

@section scripts{
    <script>
        var occupationDetail = '/MemberTagCategory/Detail';
        $(function () {
            $(".occupation-detail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: occupationDetail,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#editModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });

    </script>
  
}