@model Ats.Models.OriginalFile.OriginalFileSearchViewModel;
@using Lpnet.WebApp.Resources
@using (Html.BeginForm("Edit", "OriginalFile", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OriginalFile.Id)
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="createNewModalLabel">@Resource.Common_label_edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div>

            <div class="form-group">
                <label>@Resource.Common_label_name</label>
                <div>
                    @Html.TextBoxFor(m => m.OriginalFile.Name, new { placeholder = "Enter a name", @class = "form-control", id = "edit-name", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label>@Resource.Common_label_description</label>
                <div>
                    @Html.TextAreaFor(m => m.OriginalFile.Description, new { placeholder = "", @class = "form-control", id = "edit-description", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.OriginalFile.IsActive, new { @class = "form-group", id = "edit-active" })
                <label for="edit-active"> @Resource.Common_label_active</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect waves-light">@Resource.Common_label_save</button>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@Resource.Common_label_close</button>
    </div>
}