@model Ats.Models.Member.MemberGroupViewModel;
@using Lpnet.WebApp.Resources
@{
    ViewBag.Title = "Create Member Segment | MegaPoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    SelectList MemberTagCategories = ViewBag.MemberTagCategories;
}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Sidebar_configurations_memberGroup</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">MegaPoint</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">@Resource.Sidebar_title_configurations</a></li>
                        @*<li class="breadcrumb-item"><a href="javascript: void(0);">@Resource.Sidebar_configurations_memberSegment</a></li>*@
                        <li class="breadcrumb-item active">@Resource.Common_label_create</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Create", "MemberGroup", new { @class = "form-horizontal form-wizard-wrapper", role = "form" }, FormMethod.Post))
                        {
                            <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessageProfile</p>

                            @Html.AntiForgeryToken()

                            <div class="row ">
                                <div class="col-md-12 mt-1 border-bottom p-1">
                                    <div class="form-group row">
                                        <label for="txtPhoneNumber" class="col-lg-2 col-form-label text-left">*@Resource.Common_label_memberGroupName</label>
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.MemberGroupName, new { placeholder = "", @class = "form-control", id = "txtPhoneNumber", name = "txtPhoneNumber" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3 border-bottom p-1">
                                    <div class="form-group row">
                                        <label for="txtEmailAddress" class="col-lg-2 col-form-label text-left">*@Resource.Common_label_membertagcategory:</label>
                                        <div class="col-lg-4">
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="@Url.Action("Index", "MembertagCategory")" data-id="Save" class=" btn btn-outline-info btn-sm  mt-1 " aria-haspopup="true" aria-expanded="false">
                                                <span class="text-dark">Add</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3 border-bottom p-1">
                                    <div class="form-group row">
                                        <label for="txtPhoneNumber" class="col-lg-2 col-form-label text-left">*@Resource.Common_label_conditional:</label>
                                        <div class="col-lg-6 mt-2">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>@Resource.Common_label_conditionalTag @Html.RadioButtonFor(m => m.Conditional, "true", new { id = "conditional", @checked = "checked" })</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>@Resource.Common_label_unConditionalTag @Html.RadioButtonFor(m => m.Conditional, "false", new { id = "unconditional" })</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3 border-bottom p-1">
                                    <div class="form-group row">
                                        <label for="txtPhoneNumber" class="col-lg-2 col-form-label text-left">*@Resource.Common_label_active:</label>
                                        <div class="col-lg-6 mt-2">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>kích hoạt @Html.RadioButtonFor(m => m.Active, "true", new { id = "conditional", @checked = "checked" })</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>không kích hoạt @Html.RadioButtonFor(m => m.Active, "false", new { id = "unconditional" })</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-1">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">@Resource.Common_label_save</button>
                                    <a href="@Url.Action("Index", "MemberGroup",  new { pageIndex = 0 })" class="btn btn-secondary waves-effect">@Resource.Common_label_close</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


@section scripts{
    <script>
        var occupationDetail = '/TagMemberTag/Detail';
        $(function () {
            $(".tag-detail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: occupationDetail,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#editModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });


    </script>
    <script>
        $('input.input-qty').each(function () {
            var $this = $(this),
                qty = $this.parent().find('.is-form'),
                min = Number($this.attr('min')),
                max = Number($this.attr('max'))
            if (min == 0) {
                var d = 0
            } else d = min
            $(qty).on('click', function () {
                if ($(this).hasClass('minus')) {
                    if (d > min) d += -1
                } else if ($(this).hasClass('plus')) {
                    var x = Number($this.val()) + 1
                    if (x <= max) d += 1
                }
                $this.attr('value', d).val(d)
            })
        })
    </script>
 
}