@model Ats.Models.MemberWallet.MemberWalletsSearchViewModel;
@using Ats.Commons.Utilities;
@using Lpnet.WebApp.Resources;

@{
    ViewBag.Title = @Resource.ViewBag_Title_Wallet_Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    SelectList genders = new SelectList(new List<SelectListItem>() { new SelectListItem() { Value = "false", Text = "Female" }, new SelectListItem() { Value = "true", Text = "Male" } }, "Value", "Text");
    SelectList jobTitles = ViewBag.JobTitles;
    SelectList occupations = ViewBag.Occupations;

    SelectList addresses1 = ViewBag.Addresses1;
    SelectList addresses2 = ViewBag.Addresses2;

    SelectList loanProducts = ViewBag.LoanProducts;
}

@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Sidebar_title_Memberwallets</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "MemberWallet")">@Resource.Sidebar_title_Memberwallets</a></li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- create new modal -->
                <div id="createNewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("Edit", "MemberWallet", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="createNewModalLabel">Send</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="txtFirstName" class="col-lg-3 col-form-label text-danger text-left">@Resource.Common_label_email</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.MemberWallet.Email, new { placeholder = "Email", @class = "form-control", id = "txtUsername", name = "txtUsername" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="txtFirstName" class="col-lg-3 col-form-label text-danger text-left">@Resource.Common_label_phone</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.MemberWallet.Phone, new { placeholder = "Phone", @class = "form-control", id = "txtUsername", name = "txtUsername" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="txtFirstName" class="col-lg-3 col-form-label text-danger text-left"> @Resource.Common_label_point</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.MemberWallet.Point, new { placeholder = "Point", @class = "form-control", id = "txtUsername", name = "txtUsername" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                </div>
                            }
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- transfer modal -->
                <div id="transferModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("Transfer", "MemberWallet", new { @class = "custom-validation", role = "form" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="transferModalLabel">Transfer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="txtFromWallet" class="col-lg-3 col-form-label text-danger text-left">From</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.Transfer.EmailFrom, new { placeholder = "", @class = "form-control", id = "txtFromWallet", name = "txtFromWallet", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="txtFromWallet" class="col-lg-3 col-form-label text-danger text-left">To</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.Transfer.EmailTo, new { placeholder = "", @class = "form-control", id = "txtFromWallet", name = "txtFromWallet", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="txtFromWallet" class="col-lg-3 col-form-label text-danger text-left">Amount</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.Transfer.Amount, new { placeholder = "", @class = "form-control", id = "txtFromWallet", name = "txtFromWallet", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Transfer</button>
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                </div>
                            }
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessage</p>
                        @using (Html.BeginForm("Search", "MemberWallet", new { role = "form" }, FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Keyword, new { placeholder = "Please enter the Code, Name, Phone, Email", @class = "form-control", id = "occupation-search-input" })
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="mt-0"><button type="submit" id="btnSearch" name="search" value="search" class="btn btn-primary btn-block waves-effect waves-light"><i class="fas fa-search"></i>&nbsp;@Resource.Common_label_search</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right d-none d-md-block">
                                        <div class=" text-center">
                                            <button class="btn btn-outline-info waves-effect waves-light text-dark" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#createNewModal">
                                                <i class="mdi mdi-plus"></i> Send
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <table id="datatable" class="table table-sm table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-left">
                                        @Resource.Common_label_memberCode<a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "code", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th> 
                                    <th class="text-left">
                                        @Resource.Common_label_firstName<a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "firstname", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_lastName <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "lastname", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_email <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "email", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_phone <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "phone", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.Common_label_point <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "point", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>
                                    <th class="text-left">
                                        @Resource.ManageLead_form_label_lastupdate <a href="@Url.Action(Model.Pager.Action, new { search = Model.Pager.Search, field = "activeend", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                            <i class="fa fa-fw fa-sort"></i>
                                        </a>
                                    </th>                                                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MemberWalletsHistory)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <input id="ckCheckLead" type="checkbox" value="false" name="CheckLead" />
                                            <input type="hidden" value="false" name="CheckLead" />
                                        </td>
                                        <td class="text-left">@item.MemberCode</td>
                                        <td class="text-left">@item.FistName</td>
                                        <td class="text-left">@item.LastName</td>
                                        <td class="text-left">@item.Email</td>
                                        <td class="text-left">@item.Phone</td>
                                        <td class="text-left">@item.Point</td>
                                        <td class="text-left">@item.ActiveEnd</td>
                                        <td class="text-right">
                                            <div>
                                                <a href="@Url.Action("Wallet", "MemberWallet",new { id = item.Id })" class="btn btn-outline-warning"><i class="mdi mdi-folder-open-outline"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <p>
                            <partial name="~/Views/Shared/_pager.cshtml" for="@Model.Pager">
                        </p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
@section scripts{
    <script>
        var occupationDetail = '/MemberTagCategory/Detail';
        $(function () {
            $(".occupation-detail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: occupationDetail,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#editModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });

    </script>
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
}