@model Ats.Models.Product.ProductCollectionSearchViewModel;
@using Lpnet.WebApp.Resources
@{
    ViewBag.Title = " Add Product For Collection | Panda Loyalty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    SelectList product = ViewBag.Product;
}


@section styles{

    <link href="~/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />

}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-8">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Common_label_productCollection</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Campaign")">@Resource.Common_label_campaign</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductCollection")">@Resource.Common_label_productCollection</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Edit", "ProductCollection" ,new { id = Model.ProductCollection.Id})">@Resource.Common_label_edit</a></li>
                        <li class="breadcrumb-item active"><a href="javascript: void(0);">@Resource.Common_label_addproductstothecollection</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-3">
                    <h4 class="font-size-20 mr-2" style="border-left: 4px solid #3f51b5 ">&nbsp;@Resource.Common_label_productCollection</h4>
                </div>
                <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessageProfile</p>
                @using (Html.BeginForm("SearchAllProduct", "ProductCollection", new { idcollection = Model.ProductCollection.Id, role = "form" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group row">
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.Keyword, new { placeholder = "Please enter the name Product ", @class = "form-control", id = "occupation-search-input" })
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" id="btnSearch" name="search" value="search" class="btn btn-primary" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify mr-2"></i>@Resource.Common_label_search
                            </button>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("AddProduct", "ProductCollection", new { @class = "form-horizontal form-wizard-wrapper", role = "form" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProductCollection.Id)
                    @Html.HiddenFor(m => m.ProductCollectionItem.Id)
                    <div class="card">
                        <div class="card-body">
                            <div class="row  ">
                                @*<div class="dtHorizontalVerticalExample" style="overflow: auto hidden">*@
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-left">  @Resource.Common_label_select </th>
                                            <th class="text-left">
                                                @Resource.Common_label_productname
                                                <a href="@Url.Action("AddProduct","ProductCollection", new {idcollection = Model.ProductCollection.Id, search = Model.Pager.Search, field = "productname", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                                    <i class="fa fa-fw fa-sort"></i>
                                                </a>
                                            </th>
                                            <th class="text-left">
                                                @Resource.Common_label_price
                                                <a href="@Url.Action("AddProduct","ProductCollection", new {idcollection = Model.ProductCollection.Id, search = Model.Pager.Search, field = "productname", sort = !Model.Pager.OrderSort, page = Model.Pager.Page })" class="btn btn-xs btn-link p-0">
                                                    <i class="fa fa-fw fa-sort"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.ProductCollection.Items.Count(); i++)
                                        {
                                            <tr>
                                                <td class="text-left"> @Html.CheckBoxFor(it => Model.ProductCollection.Items[i].Selected, new { Style = "vertical-align:3px}" })</td>
                                                <td class="text-left">
                                                    @Html.HiddenFor(it => Model.ProductCollection.Items[i].Value)
                                                    @Html.DisplayFor(it => Model.ProductCollection.Items[i].Text)
                                                </td>
                                                <td class="text-left">
                                                    @Html.DisplayFor(it => Model.ProductCollection.Items[i].Price)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @*</div>*@
                            </div>
                            <p class="float-right">
                                <partial name="~/Views/Shared/_pager.cshtml" for="@Model.Pager">
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessageProfile</p>
                            <div class="row  ">
                                <div class="col-md-12 mt-1  ">
                                    <div class="form-group row">
                                        <label class="col-lg-2  mt-1   text-left"><a class="text-danger"></a>  @Resource.Common_label_stock:</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.ProductCollectionItem.Stock, new { placeholder = "", @class = "form-control", @id = "Stock" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1  ">
                                    <div class="form-group row">
                                        <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a> @Resource.Common_label_price:</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.ProductCollectionItem.Price, new { placeholder = "", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1  ">
                                    <div class="form-group row">
                                        <label class="col-lg-2  mt-1   text-left"><a class="text-danger"></a> @Resource.Common_label_displayOrder:</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.ProductCollectionItem.DisplayOrder, new { placeholder = "", @class = "form-control", @id = "DisplayOrder" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1  ">
                                    <div class="form-group row ">
                                        <label class="col-lg-2 col-form-label text-left">@Resource.Common_label_active :</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <div class="form-group mt-2">
                                                        @Html.CheckBoxFor(m => m.ProductCollectionItem.IsActive, new { @class = "form-group", id = "edit-active" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-1">
                                    <label for="" class="text-left"><a class="text-danger"></a>@Resource.Common_label_remark:</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.ProductCollectionItem.Remark, new { placeholder = "", @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mt-2 ml-1">
                                <a href="@Url.Action("Edit", "ProductCollection", new { id = Model.ProductCollection.Id})" class="text-white btn btn-primary waves-effect waves-light col-md-3 mt-3 mr-2">@Resource.Common_label_cancel</a>
                                <button type="submit" class="btn btn-primary waves-effect waves-light col-md-3 mt-3">@Resource.Common_label_save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


@section scripts{
    <script>
        var occupationDetail = '/TagMemberTag/Detail';
        $(function () {
            $(".tag-detail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: occupationDetail,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#editModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });


    </script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script>

        $("input[name='Price']").TouchSpin({
            min: 0,
            max: 10000000,
            step: 1000,
            decimals: 2,
            initval: 0,
            forcestepdivisibility: 'none',
            stepinterval: 50,
            maxboostedstep: 0,
            prefix: ''
        });

    </script>

    <script>
        $("#nolimitStock").click(function () {
            if ($(this).is(':checked')) {
                $("#Stock").attr('disabled', true);
            } if (!$(this).is(':checked')) {
                $("#Stock").attr('disabled', false);
            }
        });

        $("#nolimitDisplayOrder").click(function () {
            if ($(this).is(':checked')) {
                $("#DisplayOrder").attr('disabled', true);
            } if (!$(this).is(':checked')) {
                $("#DisplayOrder").attr('disabled', false);
            }
        });
    </script>

}