@model Ats.Models.Reports.ProductQrReportsSearchViewModel;

@using Lpnet.WebApp.Resources
@{
    ViewBag.Title = @Resource.ViewBag_Title_ProductScanReport_Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    SelectList lsProducts = ViewBag.Products;

}
@section styles{
    <!-- DataTables -->
    @*<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="~/assets/libs/advanced-multiselect-easy/easySelect/easySelectStyle.css">

        <link href="~/assets/css/tableCenter.css" rel="stylesheet" />
        <link href="~/assets/css/scrollTableSearch.css" rel="stylesheet" />
}
<style type="text/css">
    .a {
        white-space: nowrap;
        width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="page-content">
        <div class="container-fluid">
        <!-- start page title -->
         
            @using (Html.BeginForm("ExportScanProductPoints", "Reports", FormMethod.Get, new { target = "_blank", role = "form" }))
              {
          
            <div class="row align-items-center">

               @Html.AntiForgeryToken()  
              @Html.ListBoxFor(m => m.ArProductId, Model.ProductIdList, new { @class ="easySelect d-none", @multiple="",type="hidden" })                                               
               @Html.HiddenFor(m=> m.StringDateFrom)
                @Html.HiddenFor(m=> m.StringDateTo)
             <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">@Resource.Sidebar_report_ProductQrScanReports</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">@Resource.Common_label_reports</a></li>
                            <li class="breadcrumb-item active">@Resource.Sidebar_report_ProductQrScanReports</li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="page-title-box">
                    <div class="form-group float-right">
            
                       <div class="mt-0">
                           <button type="submit" value="export" id="spinner" name="export" class="btn btn-info btn-spinner btn-spinner-example"
                       >@Resource.Commom_label_ExportExcel  <i class="mdi mdi-download"></i>
                      </button>
                      </div>
                    
                     </div>
                </div>
            </div>      
           </div>
              }
         </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="card h-100">
                    <div class="card-header bg-primary text-xl-center"><h4 class="text-white mt-2">@Resource.Common_label_ControlPannel</h4></div>
                    <div class="card-body">
                        <p class="badge badge-pill badge-success font-italic font-size-12">@ViewBag.StatusMessage</p>
                           @using (Html.BeginForm("SearchScanProductPoints", "Reports", new { role = "form" }, FormMethod.Post))
                            {
                               @Html.AntiForgeryToken()
                        
                            <fieldset id="myForm">
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <div class="row">
                                            <div class="col-lg-12">
                                             <label> @Resource.Common_label_selectproduct</label> 
                                               @Html.ListBoxFor(m => m.ArProductId, Model.ProductIdList, new { @class ="easySelect", @multiple="",id = "ls_lsProducts", @style = "width: 100%" })                                               
                                          </div>
                                        </div>
                                    </div>
                                  

                                    <div class="col-12 mt-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="mb-0 mb-1"> @Resource.Common_label_DateRange</label>
                                                <div class="input-daterange input-group" id="datepicker">
                                                    @Html.TextBoxFor(m => m.StringDateFrom, new { @class = "form-control", id = "eventStartDate", type = "text" })
                                                    @Html.TextBoxFor(m => m.StringDateTo, new { @class = "form-control", id = "eventEndDate", type = "text" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <div class="row">

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="mt-0"><button runat="server" type="submit" class="btn btn-outline-info btn-block waves-effect waves-light">&nbsp;@Resource.Common_label_reset</button></div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <div class="mt-0"><button type="submit" value="reset" name="reset" class=" btn btn-primary btn-block waves-effect waves-light">&nbsp;@Resource.Common_label_Generate</button></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>                                    
                                </div>
                            </fieldset>
                                }
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="card h-100">
                    <div class="card-header bg-soft-dark">
                        <div class="col-lg-12 ">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="font-size-16 mt-2 " style="border-left: 4px  #3f51b5 ">
                                        <a class="ml-0 mr-0 ">
                                            <i class="mdi mdi-power-on text-white" style="font-weight:bold"></i>
                                        </a>

                                        <a class="ml-0">
                                            @Html.DisplayFor(Model => Model.Stringdatefrom)
                                        </a>
                                        @if (Model.Stringdatefrom != null || Model.Stringdateto != null)
                                        {
                                            <a class="ml-2 mr-2">
                                                <i class="mdi mdi-slash-forward"></i>
                                            </a>
                                        }


                                        @Html.DisplayFor(Model => Model.Stringdateto)
                                    </h4>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
               

                        <!-- end page title -->
                        <div class="dtHorizontalVerticalExample" style="overflow: auto hidden">
                            <table id="dtHorizontalVerticalExample" class="table table-hover table-bordered table-sm " cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th>
                                            @Resource.Common_label_Stt <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search,productId=Model.PagerProductPointsScan.Productid, datefrom=Model.PagerProductPointsScan.dateFrom, dateto=Model.PagerProductPointsScan.dateTo, field = "membercode", sort = !Model.PagerProductPointsScan.OrderSort, page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>
                                        <th class="text-center align-text-bottom">
                                            @Resource.Common_label_QrScanDate <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search,productId=Model.PagerProductPointsScan.Productid,datefrom=Model.PagerProductPointsScan.dateFrom,dateto=Model.PagerProductPointsScan.dateTo,  field = "firstname", sort = !Model.PagerProductPointsScan.OrderSort ,page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>
                                        <th>
                                            @Resource.Common_label_memberCode <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search, productId=Model.PagerProductPointsScan.Productid,datefrom=Model.PagerProductPointsScan.dateFrom,dateto=Model.PagerProductPointsScan.dateTo, field = "membercode", sort = !Model.PagerProductPointsScan.OrderSort, page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>

                                        <th class="text-center align-text-bottom">
                                            @Resource.Common_label_fullName <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search,productId=Model.PagerProductPointsScan.Productid, datefrom=Model.PagerProductPointsScan.dateFrom,dateto=Model.PagerProductPointsScan.dateTo, field = "lastname", sort = !Model.PagerProductPointsScan.OrderSort ,  page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>
                                        <th class="text-center align-text-bottom">
                                            @Resource.Common_label_QrCode <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search,productId=Model.PagerProductPointsScan.Productid, datefrom=Model.PagerProductPointsScan.dateFrom,dateto=Model.PagerProductPointsScan.dateTo, field = "lastname", sort = !Model.PagerProductPointsScan.OrderSort ,  page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>
                                          <th class="text-center align-text-bottom">
                                            @Resource.Sidebar_configurations_product <a href="@Url.Action(Model.PagerProductPointsScan.Action, new { search = Model.PagerProductPointsScan.Search,productId=Model.PagerProductPointsScan.Productid,datefrom=Model.PagerProductPointsScan.dateFrom,dateto=Model.PagerProductPointsScan.dateTo, field = "lastname", sort = !Model.PagerProductPointsScan.OrderSort ,  page = Model.PagerProductPointsScan.Page, Model.PagerProductPointsScan.Size })" class="btn btn-xs btn-link p-0">
                                            </a>
                                        </th>
                                       

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.productQrReports)
                                    { 


                                        <tr>
                                            <td>@item.STT</td>
                                            <td class="abc-center">@item.CodeScanDate</td>
                                            <td class="abc-center">@item.MemberCode</td>
                                            <td>@item.FullName</td>
                                            <td>@item.BillNo</td>
                                            <td>@item.FullProduct</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        
                             <p>
                            <partial name="~/Views/Shared/_pagerProductPointsScan.cshtml" for="@Model.PagerProductPointsScan">
                        </p>
            
                         
                        </div>
                    </div>
                    <h4 class="font-size-18 fas fa-arrow-right ml-3">
                        <a class="ml-3">
                            @Resource.Common_label_ThereAre
                            @Html.DisplayFor(Model => Model.PagerProductPointsScan.TotalItem)
                            @Resource.Common_label_CodeScans
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- End Upload Area -->
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
@section scripts{
   @* <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>*@
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="~/assets/libs/advanced-multiselect-easy/easySelect/easySelect.js"></script>
   
    <script>     
         $('#ls_lsProducts').easySelect({
         buttons: true, 
         search: true,
         showEachItem: false,
         dropdownMaxHeight: '200px',
        });
    </script>

    <script type="text/javascript">

        $("#eventEndDate").datepicker({
            minViewMode: 1,
            format: "mm/yyyy"
        }).on('changeDate', function (ev) {
            endtDate: ev.date.setMonth(ev.date.getMonth()), $("#eventStartDate").datepicker('setEndDate', ev.date);
        });

        $("#eventStartDate").datepicker({
            minViewMode: 1,
            format: "mm/yyyy"
        }).on('changeDate', function (ev) {
            startDate: ev.date.setMonth(ev.date.getMonth()), $("#eventEndDate").datepicker('setStartDate', ev.date);
        });
    </script>
       <script>
        $(document).ready(function () {
            $('.nameProduct').click(function () {
                $(this).toggleClass('a').siblings().removeClass('a');
            });
        });
        
    </script>
    <script>
          $(document).ready(function () {
            $('.billno').click(function () {
                $(this).toggleClass('a').siblings().removeClass('a');
            });
        });
    </script>
       <script>
   

    </script>
}
