@model Ats.Models.Product.ProductOrderViewModel;
@using Lpnet.WebApp.Resources
@{
    ViewBag.Title = @Resource.ViewBag_Title_ProductOrder_Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    SelectList member = ViewBag.Member;
    SelectList productorderstatus = ViewBag.ProductOrderStatus;
    SelectList productcollectionitem = ViewBag.ProductCollectionItem;
    var OldModel = ViewBag.CheckOle;
    SelectList NewOrders = new SelectList(new List<SelectListItem>()
    {
        new SelectListItem() { Value = "1", Text = "Đang Duyệt" } }, "Value", "Text");
}


<div class="page-content">
    <div class="container-fluid"> 
        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-8">
                <div class="page-title-box">
                    <h4 class="font-size-18">@Resource.Common_label_productOrder</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Panda Loyalty</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductOrder")">@Resource.Common_label_productOrder</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Create", "ProductOrder")">@Resource.Common_label_createOrder</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @using (Html.BeginForm("Create", "ProductOrder", new { @class = "form-horizontal form-wizard-wrapper", role = "form" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() 
                    <div class="card-body">
                        <p class="badge badge-pill badge-danger font-italic font-size-12">@ViewBag.ErrorMessage</p>
                        <div class="row  ">

                            <div class="col-12  mt-1">
                                <div class="form-group row">
                                    <p class="badge badge-pill badge-warning font-italic font-size-12" id="enoughpoint">@Resource.Common_label_enoughpoints</p>
                                    <p class="badge badge-pill badge-warning font-italic font-size-12" id="pleaseselecttwo">@Resource.Common_label_selectmembersandproducts</p>
                                    <p class="badge badge-pill badge-warning font-italic font-size-12" id="selectmember">@Resource.Common_label_selectamember</p>
                                    <p class="badge badge-pill badge-warning font-italic font-size-12" id="selectproduct">@Resource.Common_label_selectaproductfor</p>
                                </div>
                            </div>
                            <div class="col-12  mt-1 ">
                                <div class="form-group row">
                                    <label for="txtcode" class="col-lg-2  mt-1  text-left"><a class="text-danger">*</a>@Resource.Common_label_member</label>
                                    <div class="col-lg-7 ">
                                        @Html.TextBoxFor(m => m.NameMember, new { @class = "form-control require ", id = "MemberId", name = "MemberId", @readonly = "readonly" })
                                        @Html.HiddenFor(m => m.MemberId, new { @class = "form-control", id = "MemberId", name = "MemberId", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-sm-10">
                                            <div class="float-right d-none d-md-block">
                                                <div class=" text-center">
                                                    <button type="button" class="btn btn-primary  " aria-haspopup="true" aria-expanded="false">
                                                        <a href=" @Url.Action("SelectMember", "ProductOrder", new {iditem = Model.ProductItemId, idmemberold = Model.MemberId })" class="text-white">@Resource.Common_label_selectMember</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  mt-1 ">
                                <div class="form-group row">
                                    <label for="txtcode" class="col-lg-2  mt-1  text-left"><a class="text-danger">*</a>@Resource.Common_label_productItem</label>
                                    <div class="col-lg-7 ">
                                        @Html.TextBoxFor(m => m.NameProduct, new { @class = "form-control", id = "ProductItemId", name = "ProductItemId", @readonly = "readonly" })
                                        @Html.HiddenFor(m => m.ProductItemId, new { @class = "form-control", id = "ProductItemId", name = "ProductItemId" })
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-sm-10">
                                            <div class="float-right d-none d-md-block">
                                                <div class=" text-center">
                                                    <button type="button" class="btn btn-primary  " aria-haspopup="true" aria-expanded="false">
                                                        <a href=" @Url.Action("SelectProductItem", "ProductOrder", new {idmember = Model.MemberId, iditemold = Model.ProductItemId })" class="text-white">@Resource.Common_label_selectproduct</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a>@Resource.Common_label_pointofMember</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.CheckPoint, new { placeholder = "", @id = "CheckPoint", @class = "form-control", @require = "require", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a>@Resource.Common_label_price</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.Price, new { placeholder = "", @id = "Price", @class = "form-control", @require = "require", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a> @Resource.Common_label_Quantity</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "Quantity" })
                                    </div>
                                    <div class="col-lg-3 mt-2">
                                        @Resource.Common_label_Total: <span class="gettotal" id="total">@Html.DisplayFor(m => m.Price)</span> @Resource.Common_td_Point
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1   text-left"><a class="text-danger"></a> @Resource.Common_label_orderStatus</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(m => m.OrderStatus, NewOrders, new { placeholder = "", @class = "form-control", @id = "DisplayOrder", @require = "require" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1   text-left"><a class="text-danger"></a> @Resource.Common_label_date</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.Date, new { placeholder = "", @class = "form-control", id = "Date", type = "date" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a> @Resource.Commom_Label_receiver</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.Receiver, new { placeholder = "", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a> @Resource.Commom_Label_phoneno</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.PhoneNo, new { placeholder = "", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a>@Resource.Common_label_shippingAddress</label>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(m => m.ShippingAddress, new { placeholder = "", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-1  ">
                                <div class="form-group row">
                                    <label class="col-lg-2  mt-1  text-left"><a class="text-danger"></a>@Resource.Common_label_remark</label>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(m => m.Remark, new { placeholder = "", @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 ml-1">
                            <a href="@Url.Action("Index", "ProductOrder")" class="text-white btn btn-primary waves-effect waves-light col-md-3 mt-3 mr-2">@Resource.Common_label_cancel</a>
                            <button id="save" type="submit" class="btn btn-primary waves-effect waves-light col-md-3 mt-3">@Resource.Common_label_save</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


@section scripts{
    <script>
      

        $(document).ready(function () {
            var diem = $("#CheckPoint").val();
            var gia = $("#Price").val();
            var checkmember = $("#MemberId").val();
            var checkproduct = $("#ProductItemId").val();
            $("#enoughpoint").hide(); $("#save").hide(); $("#pleaseselecttwo").hide(); $("#selectproduct").hide(); $("#selectmember").hide();
            if (checkmember == " " || checkproduct == " ")
            { 
                $("#pleaseselecttwo").show();
                $("#save").hide();
            }
            if (checkmember != " " && checkproduct == " ") {
                $("#selectproduct").show();
                $("#pleaseselecttwo").hide();
            }
            if (checkmember == " " && checkproduct != " ") {
                $("#selectmember").show();
                $("#pleaseselecttwo").hide();
            }
            if (checkmember != " " && checkproduct != " ")
            { 
                 
                var numberdiem = parseInt($("#CheckPoint").val());
                var numbergia = parseInt($("#Price").val()); 
                var tong = parseInt($("#total").val());

                if (numberdiem >= numbergia)
                { 
                    $("#save").show(); 
                    $("#pleaseselecttwo").hide(); 
                }
                else
                {
                    $("#enoughpoint").show();
                    $("#pleaseselecttwo").hide();
                }
            } 
        });


    </script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script>

        //$("input[name='Price']").TouchSpin({
        //    min: 0,
        //    max: 10000000,
        //    step: 1000,
        //    decimals: 0,
        //    initval: 0,
        //    forcestepdivisibility: 'none',
        //    stepinterval: 50,
        //    maxboostedstep: 0,
        //    prefix: ''
        //});
        //$("input[name='CheckPoint']").TouchSpin({
        //    min: 0,
        //    max: 10000000,
        //    step: 1000,
        //    decimals: 0,
        //    initval: 0,
        //    forcestepdivisibility: 'none',
        //    stepinterval: 50,
        //    maxboostedstep: 0,
        //    prefix: ''
        //});
        $("input[name='Quantity']").TouchSpin({
            min: 1,
            forcestepdivisibility: 'none',
            stepinterval: 50,
            maxboostedstep: 0,
            prefix: ''
        });

    </script>
    <script>

        $(function () {

            $("#Quantity,#Price").change(function (e) {

                var q = $("#Price").val();
                var p = $("#Quantity").val();
                var result = "";

                if (q !== "" && p !== "" && $.isNumeric(q) && $.isNumeric(p)) {
                    result = parseFloat(q) * parseFloat(p);
                }
                $('.gettotal').text(result);
             
            });

        });
    </script>



}