@using Ats.Web.Resources
@model Ats.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = Resource.ChangePW;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="primary-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="content-header">
                    <p>
                        @Resource.ChangePW
                    </p>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="content">
                            <div class="box-header">
                                <div class="padding">
                                    @if (ViewBag.StatusMessage != null)
                                    {
                                        <div id="notification">
                                            <span class="text-success-action">
                                                <i class="fa fa-check"></i>
                                                @ViewBag.StatusMessage
                                            </span>
                                        </div>
                                    }
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div id="notification">
                                            <span class="text-error-action">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                @ViewBag.ErrorMessage
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="red_label">@Resource.CurPW</span>
                                        <div class="form-group ats-input">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("incorrect", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="red_label">@Resource.NewPW</span>
                                        <div class="form-group ats-input">
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-xs-4">
                                        <span class="red_label">@Resource.ConfirmNewPW</span>
                                        <div class="form-group ats-input">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                                <div class="col-xs-12">
                                    <span class="">
                                        <input type="submit" value="@Resource.ChangePW" class="btn-ats-save" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@*<h2>@Resource.ChangePW</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <h4>@Resource.ChangePWForm</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resource.ChangePW" class="btn btn-success" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@